<!--Author: Dawson Dauphinais-->
<!--Date Last Modifed: 02/15/2022-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Punk Beer</title>
</head>

<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <div class="search-box">
      <input id="query">
      <button type="button" @click="search()">Search</button>
      <button type="button" @click="clearSearch()">Clear</button>
    </div>
    <hr>
    <div v-for="beer in beerList" class="beerGrid" id="grid">
      <div id="beerDet">
        <h3>{{beer.name}}</h3>
        <h4>ABV: {{beer.abv}}%</h4>
        <img v-if="beer.image_url != null" v-bind:src=beer.image_url alt=beer.name>
        <img v-else src="img/BrewDog-Logo1-1.png" alt="BrewDog Logo">
        <h5>{{beer.description}}</h5>
      </div>
    </div>
  </div>
  <script type="module" src="/main.js"></script>
</body>
<script src="vue.global.js"></script>

</html>