#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #85c7f2;
  margin-top: 60px;
}

.beerGrid {
  background-color: #4c4c4c;
  padding: 8px;
  display: inline-block;
  margin: 10px;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 350px;
  min-height: 350px;
}

.beerGrid > div > img {
  max-width: 200px;
  max-height: 200px;
  margin: 15px;
  padding: 5px;
}

.gridItem h3 {
  padding: 5px;
  margin: 0px;
}

.gridItem h4{
  padding: 5px;
  margin: 0px;
}

h5 {
  padding: 8px;
  margin: 8px;
}

body {
  background-color: #d1d1d1;
}

#query{
  height:35px;
}